@font-face {
    font-family: "gilroy light";
    src: url('Fonts/Gilroy-Light.otf');
}
@font-face {
    font-family: "gilroy bold";
    src: url('Fonts/Gilroy-ExtraBold.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 10px; 
  }
  
 
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 5px; 
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7); 
  }
  
  
  ::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0.1); 
  }
  

  ::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.8); 
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent; 
  }
  
/* NAVBAR */
.nav {
    background-color: red;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 7vw;
}

.logo {
    font-size: 2.5vw;
    font-weight: 800;
    color: black;
}

.nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 1.5vw;
}

.menu {
    display: none;
}

/* PROFILE */
.profile {
    position:relative;
    background-color: aqua;
    height: 85vh;
    padding: 10vw 10vw;
    display: flex;
    align-self: center;
    justify-content: space-around;
}

.profile-image {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.profileContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__text__p1 {
    font-size: 2vw;
    font-weight: 500;
    color: black;
    text-align: center;
}

.profile .title {
    font-size: 4.5vw;
    font-weight: 800;
    color: black;
}

.section__text__p2 {
    font-size: 2vw;
    font-weight: 200;
    color: black;
    text-align: center;
    margin-bottom: 1vw;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.btn-container .btn1 {
    background-color: whitesmoke;
    color: black;
    font-size: 1.5vw;
    font-weight: 200;
    padding: 1vw;
    border-radius: 50px;
    cursor: pointer;
    border: none;
}

.btn-container .btn1:hover {
    background-color: black;
    color: white;
}

.btn-container .btn2 {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.5vw;
    font-weight: 200;
    padding: 1vw;
    border-radius: 50px;
    cursor: pointer;
    border: none;
}

.socials-container {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    gap: 1.5vw;
}

.socials-container img {
    width: 2.5rem;
    height: 2.5rem;
}
.profile .arrows{
    position:absolute;
    right:0;
    bottom:0;
    transform:translate(-50%,-50%)
}
.profile .arrows .arrow{
    height:3vw;
}
/* ABOUT */
.about {
    position:relative;
    background-color: blue;
    padding: 5vw 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.about_text_p1 {
    font-size: 1.5vw;
    font-weight: 400;
    text-align: center;
}

.about .title {
    font-size: 5vw;
    font-weight: 900;
    text-align: center;
    margin-bottom: 5vw;
}

.section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
}

.section__pic {
    width: 20vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.section__pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.text-container {
    background-color: brown;
    width: 60%;
    padding: 2vw;
}

.text-container p {
    font-size: 1.6vw;
    font-weight: 900;
    line-height: 3vw;
    letter-spacing: 2px;
}

.text-container p span {
    font-size: 3vw;
    font-weight: bolder;
    color: black;
    font-style: italic;
}

.about-education-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 2vw;
    margin-top: 2vw;
}

.edu-container {
    background-color: coral;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
    border: 2px solid black;
    border-radius: 50px;
    padding: 2vw;
}

.edu-header {
    display: flex;
    align-items: center;
}

.edu-header h3 {
    font-size: 2vw;
}

.edu-header img {
    height: 4vw;
}

.edu-container .box {
    border: 2px solid black;
    border-radius: 50px;
    padding: 2vw;
    width: 100%;

}

.edu-container .box h4 {
    font-size: 1.5vw;
    font-weight: 700;
    padding-bottom: 1vw;
}

.edu-container .box h1 {
    font-size: 2.5vw;
    font-weight: bolder;
    padding-bottom: 1vw;
}

.edu-container .box h3 {
    font-size: 2vw;
    font-weight: 500;
}
.about .arrows{
    position:absolute;
    top:55;
    right:0;
    transform:translate(-50%,-50%)
}
.about .arrows .arrow{
    height:3vw;
}
/* SKILLS */

.skills {
    position:relative;
    background-color: cyan;
    padding: 5vw 10vw;
    height:100vh;
}

.skills .titles {
    font-size: 5vw;
    font-weight: 900;
    text-align: center;
    margin-bottom: 5vw;
}

.skills-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;


}

.details-container {
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.5vw;
    width: 50%;
}

.sub-title {
    font-size: 2vw;
    font-weight: 700;
    margin-bottom: 2vw;
}

.article-container {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 2.5vw;
    justify-content: center;
}

.row {
    display: flex;
    width: 50%;
    justify-content: space-around;
    gap: 2vw;
}

.row img {
    width: 3vw;
    height: 3vw;
    display: flex;

}

.row .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1vw 1.3vw;
    gap: 2vw;
    border: 2px solid black;
    border-radius: 50px;
}
.skills .arrows{
    position:absolute;
    top:50;
    right:0;
    transform:translate(-50%,-50%)
}
.skills .arrows .arrow{
    height:3vw;
}

/* PROJECTS */

.projects {
    position:relative;
    background-color: rgb(0, 255, 85);
    padding: 5vw 10vw;
}

.project_title {
    font-size: 1.5vw;
    font-weight: 500;
    text-align: center;

}

.projects .title {
    font-size: 5vw;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3vw;
}

.project-container {
    background-color: chartreuse;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 3vw;
}

.rowss {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10vw;
}

.project-card {
    border: 2px solid black;
    border-radius: 50px;
    padding: 2vw;

}

.article-container {
    font-size: 1.5vw;
    font-weight: 600;
    margin-bottom: 1vw;
}

.img-container {
    height: 30vw;
    width: 30vw;
    border: 2px solid black;
    border-radius: 50px;
    overflow: hidden;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1.5vw;
}

.github-button {
    padding: 1vw 2vw;
    background-color: #007BFF;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 1.5vw;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

.demo-button {
    padding: 1vw 1.5vw;
    background-color: #09ff00;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 1.5vw;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}
.projects .arrows{
    position:absolute;
  top:55;
    right:0;
    transform:translate(-50%,-50%)
}
.projects .arrows .arrow{
    height:3vw;
}

/* FOOTER */
.footer {
    background-color: red;
    padding: 5vw 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer .title {
    font-size: 5vw;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3vw;
}

.contact-info-upper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    border: 2px solid black;
    border-radius: 50px;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: 1vw;
}

.contact-info-container img {
    height: 4vw;
    width: 4vw;
}

.contact-info-container a {
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bolder;
    color: black;
}
.contact-info-container a:hover {
    text-decoration: underline;
    font-size: 1.5vw;
    font-weight: bolder;
    color: blue;
}

/* CONTACTS */
.contacts{
    background-color: #09ff00;
    padding: 5vw 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}
.nav-links-container .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}
.nav-links-container .nav-links a{
    gap:10vw;
    font-size: 2vw;
    font-weight: 900;
}
.nav-links-container .nav-links a:hover{
    opacity:0.8;
    font-size: 2vw;
    font-weight: 900;
    text-decoration:underline;
}
.contacts p{
    margin-top:3vw;
   font-size: 2vw;
    font-family:'gilroy bold';
}

@media (max-width: 600px) {
    
  }